  
    <div class = " ">
        
        <div class=" "> <!-- blocco 1 footer  -->   
    
            <ul>
                <li>Link Pagina</li>
                <li>Link Pagina</li>
                <li>Link Pagina</li>
            </ul>
        
        </div>
        
        <div class=" "> <!-- blocco 2 footer  -->
            
        <!-- Qui testo x qualcosa -->
        
        </div>
        
        <div class=" "> <!-- blocco 3 footer  -->
        
            <img class=" " src=" " /> <!--icona social 1-->
            <img class=" " src=" " /> <!--icona social 2-->
            <img class=" " src=" " /> <!--icona social 3-->
        
        </div>
        
    </div> 


</html>