<html>
    <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link type="text/css" rel="stylesheet" href="./css/style_alt.css" media="screen" />
    <link type="text/css" rel="stylesheet" href="./css/print.css" media="print" />
    <link type="text/css" rel="stylesheet" href="./css/screenreader.css" media="speech" />
    <!--[if IE 9]> <link rel="stylesheet" href="" media="screen" /> <![endif]-->
    <!--[if IE 8]> <link rel="stylesheet" href="" media="screen" /> <![endif]-->
    <!--[if IE 7]> <link rel="stylesheet" href="" media="screen" /> <![endif]-->
    <title>Walk And Buy | </title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="robots" content="index,follow" />
    <meta http-equiv="content-language" content="it" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="window-target" content="_top" />
    <link rel="alternate" type="text/html" hreflang="en-gb" href="#" title="English (UK)" />
    <link rel="alternate" type="text/html" hreflang="it" href="#" title="Italiano" />
    <link rel="shortcut icon" href="./resources/img/icon.png" />
    </head>
    
    <body>
        
    <div class = " "><!-- parte superiore header con logo e campo serach + profilo utente  --> 
        
        <img id=" " src=" "/> <!-- logo --> 
        
        <div id=" ">  </div> <!-- campo di ricerca--> 
        
    </div> <!-- fine parte superiore hader-->
    
    <div>  <!-- parte inferiore header con menu --> 
    
        <div class=" ">Home</div>
        <div class=" ">Offerte in Vista</div>
        <div class=" ">Pagina 2 </div>
        <div class=" ">Carrello </div>
    
    </div> <!-- fine parte inferiore header--> 
        
        
    
    
    </body>




