.category-item{
    float:left;
    margin-top:2rem;
    margin-left:3rem;
    border:1px solid lightgray ;
}

.little-img{
    padding: 1rem 1rem 1rem 1rem;
    display:flex;
    justify-content: center;
    max-width: 15rem;
    max-height: 10rem;
    transition: all .2s ease-in-out;
}

.little-img:hover{
    transform: scale(1.1); 
}

.info-text{
    text-align:center;
    clear: both;
}