.content{
    border:2px solid lightgrey;
    overflow:auto;
    -webkit-box-shadow: 1px 1px 10px #888888;
    box-shadow: 1px 1px 10px #888888;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: auto;
    max-width: 100vw;
    padding: 0 1rem;
    max-width: 33rem;
}

.btn {
    display: block;
    margin: 2rem auto;
    text-align: center;
    width:80%;
  }

.img-box{
    max-width:20%;
    height:auto;
    float:left; 
}

.img-box img{
   max-width:6rem;
}


.order-container{
    border:2px solid lightgrey;
    overflow:hidden;
    -webkit-box-shadow: 1px 1px 10px #888888;
    box-shadow: 1px 1px 10px #888888;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: auto;
    max-width: 100vw;
    padding: 1rem 1rem 1rem 1rem;
    max-width: 30rem;
}

.label-detail{
    font-size:1.2rem;
}

.data{
    margin-top:0.5rem;
    margin-bottom:1.5rem;
    margin-left:7rem;
    font-size:1rem;    
    overflow: hidden;
    border-bottom:2px solid lightgrey;
}

.prod-name{
    float:right;
    font-size:1.2rem;
}
.detail{
    padding-bottom:1rem;
    float:right;
    text-decoration:underline;
    color:red;
}
