.order-container{
    border:2px solid lightgrey;
    overflow:hidden;
    -webkit-box-shadow: 1px 1px 10px #888888;
    box-shadow: 1px 1px 10px #888888;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: auto;
    max-width: 100vw;
    padding: 0 1rem;
    max-width: 30rem;
}

.label-detail{
    font-size:1.2rem;
}

.data{
    margin-top:0.5rem;
    margin-bottom:1.5rem;
    margin-left:7rem;
    font-size:1rem;    
    overflow: hidden;
    border-bottom:2px solid lightgrey;
}

.detail{
    padding-bottom:2rem;
    float:right;
    text-decoration:underline;
    color:red;
}
