/*=============================================
=            COMMON STYLES                    =
*
* CSS styles specific of the registration
=============================================*/

.intro {
    background-color: #060606;
    color: #fff;
    height: 80vh;
    padding: 2rem 0;
  }
  
  .intro .container {
    height: 100%;
  }
  
  .intro-name {
    font-size: 4rem;
    margin: 0;
    max-width: 40rem;
  }
  
  .history {
    margin: 6rem auto;
  }
  
  .method {
    border-top: 1px solid #4e4e4e;
    padding: 2rem;
  }
  
  .method-title {
    text-align: center;
  }
  
  .method-content {
    float: left;
  }
  
  .method-content:not(:last-child) {
    border-bottom: 1px solid #d3d3d3;
  }
  
  .method-content-image {
    height: 5rem;
    text-align: center;
    margin: 0 auto;
  }
  
  .method-content-image img {
    width: 4rem;
  }
  
  .method-content-title {
    height: 3rem;
  }
  
  .service {
    margin: 5rem 0;
  }
  
  .service-content {
    padding: 1rem;
  }
  
  .service-content p {
    width: 80%;
  }
  
  .service-photo {
    padding: 1rem;
  }
  
  /*----------  Media queries  ----------*/
  
  @media (min-width: 480px) {
    .method-content-image {
      float: left;
    }
  
    .method-content-text {
      width: calc(95% - 4rem); /* Minus icon size */
      float: right;
      margin-top: 0;
    }
  }
  
  @media (min-width: 768px) {
    .intro {
      background-image: url('../images/home/sherlock.jpg');
      background-position: right center;
      background-size: contain;
    }
  
    .intro .container {
      padding-right: 10rem;
    }
  
    .intro-name {
      background-color: transparent;
      font-size: 6rem;
    }
  }
  
  @media (min-width: 992px) {
    .method-content {
      width: 33%;
      padding: 1.5rem;
    }
  
    .method-content:not(:last-child) {
      border-right: 1px solid #d3d3d3;
      border-bottom: 0;
    }
  
    .method-content-title {
      text-align: center;
    }
  
    .method-content-image {
      float: none;
    }
  
    .method-content-text {
      width: 100%;
    }
  
    .service {
      margin: 5rem 3rem;
    }
  
    .service-content {
      padding: 2rem;
    }
  
    .service-photo {
      padding: 2rem;
    }
  }
  
  @media (min-width: 1200px) {
    .intro-name {
      font-size: 6rem;
      max-width: 60rem;
    }
  }
  